.NotFound {
  text-align: center;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30%;
}

.NFText{
  padding-top: 5%;
}

h4.green{
  font-size: 800%;
  padding-top: 20%;
  color: green !important;
}

.white{
  color: white;
  font-size: 800%;
}

h4.red{
  color: red;
  font-size: 600%;
}
