.ProductsTable{
  background-color: #f0f0f0;
  padding: 4%;
  border-radius: 1.5%;
}

.td{
  text-align: center;
}

  button,
  .button {
  	margin-bottom: 0 !important;
  	margin-right: .5rem;
  }

.check {
  color: green;
  font-size: 1.2em;
}
.cross {
  color: red;
  font-weight: bold;
  font-size: 2.1em;

}
